.main-div {
  background: rgb(250, 250, 250);
  /* background: rgb(0, 0, 0); */
}
.title {
  color: rgb(88, 73, 73);
}
form .form-control label {
  color: rgb(100, 100, 100);
}
input {
  background: rgb(240, 240, 240);
}
input:focus {
  border-bottom: 3px solid rgb(202, 202, 202);
}

.button button {
  background: rgb(12, 139, 189);
}
.button button:hover {
  background: rgb(3, 113, 156);
}
.inner-div button {
  background: rgb(210, 105, 30);
}
.inner-div button:hover {
  background: rgb(204, 87, 3);
}

/* dark theme */
.main-div.dark {
  background: rgb(0, 0, 0);
}

.dark .title {
  color: rgb(172, 171, 171);
}
.dark input {
  background: rgb(34, 34, 34);
  color: #fff;
}
.dark input:focus {
  background: rgb(0, 0, 0);
  color: #fff;
}
.dark .button button {
  background: rgb(2, 70, 97);
}
.dark .button button:hover {
  background: rgb(2, 49, 68);
}
.dark .inner-div button {
  background: rgb(156, 68, 5);
}
.dark .inner-div button:hover {
  background: rgb(112, 49, 4);
}
.dark i {
  color: #fff;
}
